#ttTNMEiU5UCgFVD4
#sashinigeshani1

MONGODB_URI=mongodb+srv://sashinigeshani1:ttTNMEiU5UCgFVD4@test.hgenq.mongodb.net/?retryWrites=true&w=majority&appName=test
TOKEN_SECRET_KEY=f8d2e9f1a4c7b2d9e5f3a0b8d6c1e4f7a9b0d2c
FRONTEND_URL=http://localhost:3002
